@model RepositoriosModel
@{
    ViewData["Title"] = "criar repositorio";
}
<div class="text-center">

    <h1 class="display-4">Cadastrar contato</h1>

</div>
<form asp-controller="Repositorios" asp-action="Criar" method="post">
    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="descricao">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a Descricao">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>

    <div class="mb-3">
        <label for="linguagem">Linguagem</label>
        <input type="text" asp-for="Linguagem" class="form-control" placeholder="Digite a Linguagem">
        @Html.ValidationMessageFor(x => x.Linguagem)
    </div>

     <div class="mb-3">
        <label for="linguagem">Data de atualização</label>
        <input type="date" asp-for="DataAtualizacao" class="form-control" placeholder="Digite a Data de atualização">
        @Html.ValidationMessageFor(x => x.DataAtualizacao)
    </div>


    <div class="mb-3">
        <label for="dono">Dono do repositorio</label>
        <input type="text" asp-for="Dono" class="form-control" placeholder="Digite o Dono do repositorio">
        @Html.ValidationMessageFor(x => x.Dono)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="RepositoriosController" asp-action="Index" role="button">Voltar</a>
</form>